*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
gradlew.bat

#micronet files
treqr5platformkey.properties
micronet-treqr5-platform.keystore

/.idea/caches/
/.idea/runConfigurations.xml
/app/gradle/
/app/local.properties

