*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild


#micronet files
treqr5platformkey.properties
micronet-treqr5-platform.keystore

/.idea/